<script setup>
import request from "../request";

function submit() {
  request({
    method: "post",
    url: "/test/add",
    data: {
      id: "20240202005",
      username: "robot05",
      password: "password05",
    },
  }).then((res) => {
    console.log(res.data);
  });
}
</script>

<template>
  <el-row class="mb-4">
    <el-button type="primary" @click="submit">测试后端连接</el-button>
  </el-row>
</template>